.auth {


    &__main-box {
        padding-top: 10%;
        max-width: 500px;
        margin: 0 auto;
    }

    &__container {
        text-align: center;
        background-color: #333;
        padding: 10px;
        padding-bottom: 20px;
        border-radius: 15px;
    }

    &__content {
        margin-bottom: 25px;
    }

    &__text {
        font-size: 25px;
        font-weight: 700;
        color: white;
    }

    &__input {
        padding: 10px;
        max-width: 300px;
        border-radius: 10px;
        border: none;
    }

    &__btn {
        font-size: 17px;
        font-weight: 500;
        color: white;
        text-align: center;
        background-color: #309F85;
        padding: 18px 51px;
        border-radius: 60px;
        line-height: 1.4;
        border: none;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #309F85;
            ;
        }
    }
}

$white: #fff;
$blue: #1e90ff;
$green: #39d24a;
$yellow: #ffe244;
$pink: #ff36a3;

.auth {
    height: 100vh;
    overflow: hidden;
    // I do like these colours
    /* background: 
    radial-gradient(circle at bottom, #fff -30%, transparent 70%),
    linear-gradient(to right, #134a8e, #00b6f1 50%),
    #fff; */

    background:
        radial-gradient(circle at bottom, $white, transparent 80%),
        linear-gradient(to top, dodgerblue 0%, transparent 70%),
        linear-gradient(to bottom, transparent, rgba($white, 0.4) 70%),
        $blue;
    animation: bg 30s infinite;
}

@keyframes bg {

    0%,
    100% {
        background-color: $blue;
    }

    25% {
        background-color: $green;
    }

    50% {
        background-color: $yellow;
    }

    75% {
        background-color: $pink;
    }
}