.filter {
    position: fixed;
    left: 25px;

    &__img {
        margin-bottom: 10px;
    }

    &__flex-radio {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__label {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 13px;
    }

    &__input {
        padding: 8px 15px;
        border-radius: 10px;
        border: 1px solid rgba(36, 35, 35, 0.327);
    }


    &__flex {
        display: flex;
        row-gap: 10px;
        column-gap: 10px;
    }

    &__price {
        max-width: 100px;
        border-radius: 10px;
        padding: 2px 8px;
        border: 1px solid rgba(36, 35, 35, 0.327);
    }

    &__btn {
        position: relative;
        border: none;
        font-weight: 700;
        padding: 10px 55px;
        background-color: #3C336C;
        color: white;
        border-radius: 65px;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3C336C;
        }


        &::after {
            content: '';
            display: block;
            background-image: url('../../../public/img/btn.png');
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            position: absolute;
            z-index: 4;
            top: 13%;
            right: 0;
        }
    }
}



// input[type=range]::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     border: 1px solid #000000;
//     height: 36px;
//     width: 16px;
//     border-radius: 3px;
//     background: #ffffff;
//     cursor: pointer;
//     margin-top: -14px;
//     /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     /* Add cool effects to your sliders! */
// }

// /* All the same stuff for Firefox */
// input[type=range]::-moz-range-thumb {
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     border: 1px solid #000000;
//     height: 36px;
//     width: 16px;
//     border-radius: 3px;
//     background: #ffffff;
//     cursor: pointer;
// }

// /* All the same stuff for IE */
// input[type=range]::-ms-thumb {
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     border: 1px solid #000000;
//     height: 36px;
//     width: 16px;
//     border-radius: 3px;
//     background: #ffffff;
//     cursor: pointer;
// }

// input[type=range] {
//     -webkit-appearance: none;
//     /* Hides the slider so that custom slider can be made */
//     width: 100%;
//     /* Specific width is required for Firefox. */
//     background: transparent;
//     /* Otherwise white in Chrome */
// }

// input[type=range]::-webkit-slider-thumb {
//     -webkit-appearance: none;
// }

// input[type=range]:focus {
//     outline: none;
//     /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
// }

// input[type=range]::-ms-track {
//     width: 70%;
//     cursor: pointer;

//     /* Hides the slider so custom styles can be added */
//     background: transparent;
//     border-color: transparent;
//     color: transparent;
// }

// input[type=range]::-webkit-slsider-runnable-track {
//     width: 70%;
//     height: 8.4px;
//     cursor: pointer;
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     background: #3C336C;
//     border-radius: 1.3px;
//     border: 0.2px solid #010101;
// }

// input[type=range]:focus::-webkit-slider-runnable-track {
//     background: #3C336C;
// }

// input[type=range]::-moz-range-track {
//     width: 70%;
//     height: 8.4px;
//     cursor: pointer;
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     background: #3C336C;
//     border-radius: 1.3px;
//     border: 0.2px solid #010101;
// }

// input[type=range]::-ms-track {
//     width: 70%;
//     height: 8.4px;
//     cursor: pointer;
//     background: transparent;
//     border-color: transparent;
//     border-width: 16px 0;
//     color: transparent;
// }

// input[type=range]::-ms-fill-lower {
//     background: #3C336C;
//     border: 0.2px solid #010101;
//     border-radius: 2.6px;
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }

// input[type=range]:focus::-ms-fill-lower {
//     background: #3C336C;
// }

// input[type=range]::-ms-fill-upper {
//     background: #3C336C;
//     border: 0.2px solid #010101;
//     border-radius: 2.6px;
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }

// input[type=range]:focus::-ms-fill-upper {
//     background: #3C336C;
// }


// output {
//     margin-top: 5px;
// }