.conteiner {
  display: flex;
  /* flex-direction: row;
  justify-content: space-around; */
}

.item {
  margin: 10px;
  flex: 1 1 auto;
}

.filter_item {
  margin-bottom: 40px;
}

.price {
  max-width: 100px;
}

.form-label__flex {
  display: flex;
  column-gap: 15px
}