.one-order {
    &__box {
        padding: 15px;
        background-color: #333;
        border-radius: 20px;
        color: white;
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
    }

    &__desription {
        font-size: 17px;
        font-weight: 400;
    }
}