.second-tab {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;

    &_margin {
        margin-bottom: 45px;
    }
}


.one-vpn {
    flex: 1 1 25%;

    &__box {
        position: relative;
        padding: 30px;
        background-color: rgb(99, 88, 88);
        border-radius: 25px;

    }

    &__content {
        font-size: 20px;
    }

    &__score {
        font-size: 20px;
        color: orange;
    }

    &__span {
        margin-right: 8px;
    }

    &__btn {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.4;
        text-align: center;
        padding: 19.5px 55.25px 19.5px 55.25px;
        background-color: #3C336C;
        border-radius: 60px;
        border: none;

        &:hover {
            color: white;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3C336C;
        }

        &::after {
            content: '';
            display: block;
            background-image: url('../../../../public/img/btn.png');
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            position: absolute;
            z-index: 4;
            top: 23%;
            right: -3%;
        }
    }

    &__delete-btn {
        color: white;
        background-color: inherit;
        border: none;
        font-size: 22px;
        position: absolute;
        top: 3%;
        right: 3%;

        &:hover {
            color: red;
        }
    }
}