.one-vpn {
    &__box {
        padding: 15px;
        background-color: black;
        border-radius: 25px;

        &:last-child {
            margin-bottom: 30px;
        }
    }

    &__title {
        color: white;
        font-weight: 700;
        font-size: 30px;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        font-size: 20px;
    }
}