.card {
    padding: 10px;
    border: none;
    transition: all 100ms ease 0s;
    min-width: 300px;

    &:hover {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    &__item {
        font-weight: 500;
    }

    &__flex {
        display: flex;
        justify-content: space-between;

    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        column-gap: 5px
    }

    &__price {
        color: orange
    }

    &__btn-info {
        font-weight: 500;
        border: none;
        padding: 10px 55px;
        background-color: #3C336C;
        color: white;
        border-radius: 65px;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3C336C;
        }
    }

    &__btn-sub {
        border: none;
        padding: 10px 55px;
        background-color: #309F85;
        color: white;
        border-radius: 65px;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #309F85;
            ;
        }
    }

}

.unsub_btn {
    background-color: red;
}