.pocket-form {
    text-align: center;
    padding: 5px;
    margin-top: 6%;

    &__box {
        position: relative;
        z-index: 100;
        padding: 15px;
        background-color: #333;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        border-radius: 25px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    // &__flex {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     &:last-child {
    //         margin-bottom: 20px;
    //     }
    // }

    &__input {

        width: 100%;
        max-width: 500px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        text-align: center;
        margin-bottom: 20px;

        &:focus {
            outline: none;
        }

        &:first-child {
            margin-top: 35px;
        }
    }

    &__btn {
        position: relative;
        align-self: center;
        text-align: center;
        background-color: #309F85;
        padding: 10px 51px;
        border-radius: 30px;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;

        &:hover {
            color: white;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #309F85;
        }

        &::after {
            content: '';
            display: block;
            background-image: url('../../../public/img/btn.png');
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            position: absolute;
            z-index: 4;
            top: 13%;
            right: -7%;
        }
    }
}

// .rccs__card {
//     // height: 200px !important;
//     // width: 350px !important;

// }



@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


.auth {

    &_margin {
        margin-top: 200px;
    }

    &__form {
        position: relative;
        z-index: 100;
    }
}