.pocket {
    &__box {
        position: relative;
        z-index: 100;
        background-color: #333;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 300px;
        color: white;
        font-weight: 500;
        padding: 20px;
        border-radius: 15px;
        padding-bottom: 35px;

    }

    &__current-cash {
        text-align: center;
        font-size: 25px;
    }

    &__text {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__center {
        text-align: center;
    }

    &__btn {
        position: relative;
        text-align: center;
        background-color: #309F85;
        padding: 18px 51px;
        border-radius: 50px;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;

        &:hover {
            color: white;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #309F85;
        }

        &::after {
            content: '';
            display: block;
            background-image: url('../../../public/img/btn.png');
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            position: absolute;
            z-index: 4;
            top: 19%;
            right: -4%;
        }
    }


}

$white: #fff;
$blue: #1e90ff;
$green: #39d24a;
$yellow: #ffe244;
$pink: #ff36a3;

.pocket {
    height: 100vh;
    overflow: hidden;
    // I do like these colours
    /* background: 
    radial-gradient(circle at bottom, #fff -30%, transparent 70%),
    linear-gradient(to right, #134a8e, #00b6f1 50%),
    #fff; */

    background:
        radial-gradient(circle at bottom, $white, transparent 80%),
        linear-gradient(to top, dodgerblue 0%, transparent 70%),
        linear-gradient(to bottom, transparent, rgba($white, 0.4) 70%),
        $blue;
    animation: bg 30s infinite;
}

@keyframes bg {

    0%,
    100% {
        background-color: $blue;
    }

    25% {
        background-color: $green;
    }

    50% {
        background-color: $yellow;
    }

    75% {
        background-color: $pink;
    }
}