.nav {
    padding: 15px;
    position: relative;
    z-index: 100;
    background-color: #3C336C;
    display: flex;
    justify-content: space-between;

    &__item {

        &:not(:last-child) {
            padding-left: 15px;
        }


    }


    &__flex {
        display: flex;
        column-gap: 20px;
    }

    &__link {
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 19px;

        &:hover {
            color: #8c87a5;
        }
    }
}



// .header__margin {
//     margin-bottom: 10px;
// }